img {
    color:#406094;          /*Nécéssaire pour IE*/
    border: hidden;
}

a {
    color:#406094;
} 

body {
    background-color: #EEE;
    font-family: sans-serif;
}

#contentwrapindex {
    width: 960px;
    background-color: #6D7C9D;
    margin: 0 auto;
}

/*DÉBUT DE LA PARTIE CONCERNANT L'EN-TÊTE*/

/*Wrapper de l'en-tête*/
.header {
    position: relative;
    width:960px;
    height: 260px;
    background-color: #6D7C9D;
    margin-bottom: 20px;
}

/*1)Banniere*/

/*Ruban de la bannière*/
#bann {
    position: absolute;
    top: 80px;
    left: 78px;
}
/*Image Windows*/
#img1{
    position: absolute;
    left: 160px;
}
/*Image Mac*/
#img2{
    position: absolute;
    left: 385px;
}
/*Image Linux*/
#img3{
    position: absolute;
    left: 617px;
}
/*2)Barre de navigation*/

/*Wrapper de la barre de navigation*/
.nav{
    position: absolute;
    top: 205px;
    left: 57px;
}

.nav > ul  {
   padding: 0;
}

.nav > ul > li  {
    list-style: none;
    display: inline-block;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(64, 96, 148);
    height: 44px;
}

.nav > ul > li > a {
    display: inline-block;
    text-decoration: none;
    line-height: 45px;
    text-align: center;
    width: 169px;
    color: white;
}

/*Hover du bouton accueil*/
.bacc:hover a{
    color: transparent;
    background-image: url("http://jorelamthor.neocities.org/TP/image/logoaccueilhover.PNG");
    background-color: white;
}

/*Hover du bouton windos*/
.bwin:hover a{
    color: transparent;
    background-image: url("http://jorelamthor.neocities.org/TP/image/logowindowshover.PNG");
    background-color: white;
}

/*Hover du bouton mac*/
.bmac:hover a {
    color: transparent;
    background-image: url("http://jorelamthor.neocities.org/TP/image/logomachover.png");
    background-color: white;
}
/*Hover du bouton linux*/

.blin:hover a{
    color: transparent;
    background-image: url("http://jorelamthor.neocities.org/TP/image/logolinuxhover.PNG");
    background-color: white;
}
/*Hover du bouton formulaire*/
.bfor:hover a{
    color: transparent;
    background-image: url("http://jorelamthor.neocities.org/TP/image/logoformulairehover.png");
    background-color: white;
}

/*Hover du bouton contact*/
.bcon:hover a{
    color: transparent;
    background-image: url("http://jorelamthor.neocities.org/TP/image/logocontacthover.png");
    background-color: white;
}

/*FIN DE LA PARTIE CONCERNANT LA BARRE DE NAVIGATION*/
/*--------------------------------------------------*/
/*DÉBUT DE LA PARTIE CONCERNANT LE CONTENU DU SITE*/

/*Wrapper du contenu du site*/
.contenu {
    background-color: #6D7C9D;
    width: 960px;
}

/*Wrapper des partie windows, mac et linux */
.windows, .mac, .linux {
    margin: 5px 20px;
    background-color: #ECEEF2;
    height: 219px;
    padding-right: 10px;
}
/*Image a gauche de windows, mac et linux */
.imgwindows, .imgmac, .imglinux{
    display: block;
    padding-right: 10px;
    float: left;
    margin: 0;
}

/*Listes des parties windows, mac et linux*/
.windows > ul, .mac > ul, .linux > ul {
    margin: 10px 0 0 10px;
    padding-top: 10px;
    font-weight: bold;
    color:#423f37;;
}

/*Éléments de la liste des parties windows, mac et linux*/
.windows > ul > li, .mac > ul > li, .linux > ul > li {
    display: list-item;
    list-style: disc;
    margin-left: 272px;
}

/*Texte des parties windows, mac et linux*/
.windows > p, .mac > p, .linux > p {
    margin: 0 0;
    color:#423f37;
    height: 105px;
}

/*Lien des parties windows, mac et linux*/
.windows > a, .mac > a, .linux > a {
    text-decoration: none;
    position: relative;
    left: 355px;
}
/* CSS des pages windows, linux et mac DEBUT CSS par Charles-Elie */

.clear {
    clear: both;
}

/* Sous navigation */

.subnav ul {
    display: block;
    list-style: none;
    width: 480px;
    margin: 0 auto;
    padding: 0; 
    text-align: center;
}

.subnav ul li {
    display: inline-block;
    width: 120px;
    height: 40px;
    padding-top: 18px;
    text-align: center;
    background-color: rgb(64, 96, 148);
}

.subnav ul li:hover {
    background-color: #37569E;
}

.subnav ul li a {
    display: block;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

/* Contenu */ 

.contentwrap {
    width: 960px;
    margin: 0 auto;
    background-color: #6D7C9D;
}

.articles {
    list-style:none;
    padding: 0;
    margin: 0 20px;
}

.articles > li {
    display:block;
}

.articles li {
    margin-bottom: 50px;
    padding: 20px 20px 40px 20px;
    background-color: #ECEEF2;
}

.articles li img {
    float: left;
    padding-right: 20px;
}

.articles li h2 {
    color: #423f37;
}

.articles li h3 {
    color: #423f37;
}

.articles li p {
    font-size: large;
    color: #57534a;
}

#refboutique   {
    float: right;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #EEE;
    width: 155px;
    height: 27px;
    margin-right: -20px;
    margin-top: 6px;
    padding-top: 7px;
    background-color: #37569E;
}

.articles > li > ul {
    list-style: disc;
}

.articles > li > ul > li {
    font-size: large;
    color: #57534a;
    margin: 0;
    padding: 5px 0;
}

.articles li table {
    background-color: #C6CCDA;
    margin: 0 auto;
    width: 500px;
    border: solid 1px #6D7C9D;
    border-collapse: collapse;
}

.articles li table tr td {
    text-align: center;
    padding: 7px;
    border: solid 1px #6D7C9D;
    font-family: verdana;
    color: #222;
}

/* CSS des pages windows, linux et mac FIN CSS par Charles-Elie */


/*DÉBUT DE LA PARTIE FORMULAIRE*/

.form{
    position: relative;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-left: 45px;
    background-color: #ECEEF2;
}

.formp1{
    font-size: xx-large;
    color: black;
    position: absolute;
    top: 50px;
    right: 150px;
    z-index: 1;
}

.formp2{
    font-size: large;
    color: #505050;
    position: absolute;
    top: 110px;
    right: 150px;
    width: 212px;
    z-index: 1;
}

.formp3{
    font-size: xx-large;
    color: black;
    position: absolute;
    bottom: 230px;
    right: 150px;
    z-index: 1;
    width: 212px;
    padding-top: 15px;
    border-top: 3px solid black;
}

#formstreetnumber{
width: 30px;
}

#formzipcode{
width: 50px;
}
#labelformmail{
margin-top: 10px;
}
#formpassword{
display: block;
}
#formconditions{
display: inline;
float: left;
margin-top: 10px;
}
#labelformconditions{
position: absolute;
display: inline;
width: 400px;
margin-left: 10px;
bottom: 112px;
}
#formsubmit{
position: absolute;
bottom: 65px;
}
.formin > label{
    float: left;
    clear: both;
    width: 115px;
}
.formin > input[type="radio"]{
    display: block;
}
.formin > input[type="text"]{
display: block;
background-color: rgba(81, 160, 229, 0.50);
}
.login{
    position: absolute;
    bottom: 150px;
    right: 90px;
}
.login > input[type="text"]{
    display: block;
}
.login > label{
    float: left;
    clear: both;
    width: 115px;
}
input, select {
    margin-bottom: 10px;
    background-color: rgba(81, 160, 229, 0.50);
}
/*FIN DE LA PARTIE FORMULAIRE*/
/*---------------------------*/
/*DÉBUT DE LA PARTIE CONTACT */
.conhead{
    position: relative;
    height: 60px;
}
.conhead > p {
    position: absolute;
    top: 25px;
    left: 60px;
    font-size: 200%;
    margin: 0;
    border-bottom: 2px solid black;
}
.conbody{
    background-color: #6D7C9D;
    text-align: center;
    padding-right: 35px;
    height: 1250px;
    margin-top: 20px;
}
.conclient{
    background-color: #ECEEF2;
    list-style-type: none;
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    padding-right: 20px;
    padding-left: 20px;
    width: 360px;
}
.conclientx{
    background-color: #ECEEF2;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-right: auto;
    padding: 0;
    width: 835px;
}
.conadress{
    list-style-type: none;
    text-align: left;
    display: block;
}
.conadress > li > img{
    position: relative;
    height: 80%;
    width: 80%;
    margin-left: 20px;
    float: left;
}
.contitle{
    font-size: 160%;

}
.context{
    color: rgba(81, 160, 229, 1);
    font-size: 110%;
}
.conadresstext1{
     position: absolute;
     color: black;
     font-size: 110%;
     margin-top: 160px;
     margin-left: 745px;
 }
.conadresstext2{
      position: absolute;
      color: black;
      font-size: 110%;
      margin-top: 510px;
      margin-left: 745px;
      padding-right: 30px;
  }
/* FIN DE LA PARTIE CONTACT  */
/*---------------------------*/
/*DÉBUT DE LA PARTIE BOUTIQUE*/

#boutique > fieldset > legend {
    background-color: #ECEEF2;
    color: #423f37;
    font-weight: bold;
    border-left: 2px solid #6C6C6C;
    border-right: 2px solid #6C6C6C;
    border-top: 2px solid #6C6C6C;
    padding: 2px 2px 0 2px;
    }


#boutique > fieldset {
    margin: 10px;
    background-color:#ECEEF2;
}

#boutique > fieldset > p {
    float: left;
    clear: both;
    width: 300px;
    display: inline;
    margin: 0;
    color: #423f37;
}

.selectan, .selectwin {
    margin-bottom: 5px;
    }

.selectwin {
    display: block;
}

#boutique > fieldset > input {
    float: right;
    margin: 0;
}
/*Le CSS suivant concerne les citations de la page*/
.citations {
    margin: 10px;
    padding: 20px 0 10px 0;
}

.bq, .bq1, .bq2, .bq3, .bq4 {                   /*Tout les blackquotes commencent avec le même style...*/
    padding-left: 16px;
    height: 40px;
    background: url("http://i47.tinypic.com/a9l0g3.png") top left no-repeat;
    margin: 0 0 30px 0;
    display:  inline-table;
}

.bq1 {                                          /*...mais, pour des raisons de style, certains doivent avoir des*/
    margin: 0 90px 50px 110px;                  /*Margin ou des padding différents******************************/
}

.bq2 {
    margin: 0 50px 30px 0;
}

.bq3 {
    margin: 0 0 30px 0;
    padding: 0;
}

.bq4 {
    margin-bottom: 0;
}

.bq > p, .bq1 > p, .bq2 > p, .bq3 > p, .p3, .p5  {
    width: 165px;                               /*Tout les paragraphe des blackquotes commencent avec le même style...*/
    padding-left: 15px;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    color:#ECEEF2;
    margin: 0 0 0 10px;
    background: url('http://i48.tinypic.com/eb1yrr.png') top right no-repeat;
}

.p1 {
    padding:0 15px 0 15px;                      /*...mais, pour des raisons de style, certains doivent avoir des*/
}                                               /*Margin, des padding, des width ou des font size différents*****/

.bq1 > .p2 {
    padding:0 35px 0 15px;
}

.bq2 > .p3 {
    font-size: 30px;
    width: 380px;
    line-height: 31px;
}
.bq3 > .p4 {
    padding: 0 30px;
    font-size: 30px;
    width: 380px;
    line-height: 31px;
}

.bq4 > .p5 {
    padding:0 30px;
    font-size: 60px;
    width: 840px;
    line-height: 61px;
   }
.auteur, .auteur1, .auteur2, .auteur3 {         /*Tout les span d'auteurs commencent avec le même style...*/
    display: inline-block;
    padding-left: 15px;
    margin-top: 5px;
    font-weight: bold;
    width: auto;
}

.auteur1 {                                      /*...mais, pour des raisons de style, certains doivent avoir des*/
    padding-left: 40px;                         /*Padding ou des font size différents****************************/
    font-size: 20px;
}

.auteur2 {
    padding-left: 20px;
    font-size: 20px;
}

.auteur3 {
    padding-left: 30px;
    font-size: 40px;
}
/*----------------------------------------------*/
/*DÉBUT DE LA PARTIE CONCERNANT LE PIED DE PAGE */


/*Wrapper du pied de page*/
.piedpage {
    background-color: rgb(64, 96, 148);
    width: 960px;
    margin-top: 20px;
}

/*Liste du pied de page*/
ul.pdpbarre{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 965px;
}
/*Éléments de la liste du pied de page*/
.pdpbarre li{
    display: inline-block;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 237px;
    height: 50px;
}
/*Survole des éléments de la liste du pied de page*/
.pdpbarre li:hover{
    display: inline-block;
    background-color: white;
}
/*Liens du pied de page*/
.pdpbarre a {
    line-height: 50px;
    color:white;
    text-decoration: none;
}
/*Survole des liens du pied de page*/
.pdpbarre li:hover a{
    color: #5e72c0;
}

/*FIN DE LA PARTIE CONCERNANT LE PIED DE PAGE */
