* {
    padding:0;
    margin:0;
}

body{
    width: 920px;
    height: 1030px;
    outline: solid black 1px;
    margin: 0 auto;
}
/*DÉBUT DU CODE NÉCÉSSAIRE A CHAQUE PAGE PARTIE 1/2*/
/*DÉBUT DE LA PARTIE CONCERNANT LA BANNIÈRE D'EN-TÊTE*/
#wrapper {
    position: absolute;
    width:920px;
    height: 260px;
    background-color: rgb(81, 160, 229)
}

#Banner{
    position: relative;
    width: 800px;
    left:60px;
    top: 80px;
}

#img1{
    position: absolute;
    top: 0;
    left: 132px;
}

#img2{
    position: absolute;
    top: 0;
    left: 380px;
}

#img3{
    position: absolute;
    top: 0;
    left: 617px;
}

/*FIN DE LA PARTIE CONCERNANT LA BANNIÈRE D'EN-TÊTE*/
/*DEBUT DE LA PARTIE CONCERNANT LA BARRE DE NAVIGATION*/
#navibarre{
    position: absolute;
    top: 205px;
    left: 35px;
}

a:hover {
    color:white;
}

a:active {
    color:darkgrey;
}

.a1, .b1, .c1, .d1, .e1, .f1  {
    display: inline-block;
    float: left;
    position: relative;
    background-color: rgb(64, 96, 148);
}

.a1:hover, .b1:hover, .c1:hover, .d1:hover, .e1:hover, .f1:hover {
    background-color: white;
}

.aa, .bb, .cc, .dd, .ee, .ff {
    display: inline-block;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 32px;
    width: 169px;
    padding-top: 13px;
}

.a1:hover{
    content: url(http://jorelamthor.neocities.org/TP/image/logoaccueilhover.PNG);
    background-color: white;
}

.b1:hover{
    content: url(http://jorelamthor.neocities.org/TP/image/logowindowshover.PNG)
}

.c1:hover{
    content: url(http://jorelamthor.neocities.org/TP/image/logomachover.png);
}

.d1:hover{
    content: url(http://jorelamthor.neocities.org/TP/image/logolinuxhover.PNG);
}

.e1:hover{
    content: url(http://jorelamthor.neocities.org/TP/image/logoformulairehover.png);
}

.f1:hover{
    content: url(http://jorelamthor.neocities.org/TP/image/logocontacthover.png);
}

/*FIN DE LA PARTIE CONCERNANT LA BARRE DE NAVIGATION*/

/*FIN DU CODE NÉCÉSSAIRE A CHAQUE PAGE PARTIE 1/2*/

/*DÉBUT DE LA PARTIE CONCERNANT LE CONTENU DU SITE*/
#wrapper2 {
    position: relative;
    width: 920px;
    height: 780px;
    display: inline-block;
    top: 250px;
    background-color: rgb(81, 160, 229)
}

#txtwin {
    position: relative;
    display: block;
    width: 900px;
    height: 220px;
    top: 20px;
}

#imgwin{
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 220px;
    background-color: rgb(64, 96, 149);
}

#pwin{
    position:absolute;
    display: inline-block;
    width:670px;
    height: 220px;
    left:250px;
    background-color: rgb(64, 96, 149);
}

#pwin > ul, #pmac > ul, #plinux > ul {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 150%;
    font-weight: bold;
    color:white;
}

#pwin > ul > li, #pmac > ul > li, #plinux > ul > li {
    font-size: 70%;
    margin-left: 20px;
    list-style:circle;
    color:white;
}

#pwin > p, #pmac > p, #plinux > p {
    font-size: 100%;
    margin-left: 5px;
    color:white;
}

#pwin > a, #pmac > a, #plinux > a {
    text-decoration: none;
    position: absolute;
    left: 385px;
    bottom: 10px;
}

#txtmac {
    position: relative;
    display: block;
    width: 900px;
    height: 220px;
    top: 30px;
}

#imgmac{
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 220px;
}

#pmac{
    position:absolute;
    display: inline-block;
    width:670px;
    height:220px;
    left:250px;
}

#txtlinux {
    position: relative;
    display: block;
    width: 900px;
    height: 220px;
    top: 40px;
}

#imglinux{
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 220px;
}

#plinux{
    position:absolute;
    display: inline-block;
    width:670px;
    height: 220px;
    left:250px;
    background-color: rgb(64, 96, 149);
}
/*FIN DE LA PARTIE CONCERNANT LE CONTENU DU SITE*/

/*DÉBUT DU CODE NÉCÉSSAIRE A CHAQUE PAGE PARTIE 2/2 */

/*DÉBUT DE LA PARTIE CONCERNANT LE PIED DE PAGE */
#pdp {
    position: absolute;
    background-color: #5e72c0;
    width: 920px;
    bottom: 0;
}

.navibarre a {
    position: relative;
    color:white;
    text-decoration: none;
    top: 15px;
}

ul.navibarre{
    position: relative;
    border-top: solid black 1px;
}

.navibarre li{
    display:inline-block;
    background-color: #5e72c0;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 227px;
    height: 50px;
}

.navibarre li:hover{
    display: inline-block;
    background-color: white;
}

.navibarre li:hover a{
    color: #5e72c0;
}
/*FIN DE LA PARTIE CONCERNANT LE PIED DE PAGE */

/*FIN DU CODE NÉCÉSSAIRE A CHAQUE PAGE PARTIE 2/2*/