* {
    padding:0;
    margin:0;
}

body{
    width: 920px;
    height: auto;
    outline: solid black 1px;
    margin: 0 auto;
}
/*DÉBUT DU CODE NÉCÉSSAIRE A CHAQUE PAGE PARTIE 1/2*/
/*DÉBUT DE LA PARTIE CONCERNANT LA BANNIÈRE D'EN-TÊTE*/
.header {
    position: relative;
    width:920px;
    height: 260px;
    background-color: rgb(81, 160, 229)
}

#bann {
    position: absolute;
    top: 80px;
    left: 60px;
}

#img1{
    position: absolute;
    left: 160px;
}

#img2{
    position: absolute;
    left: 385px;
}

#img3{
    position: absolute;
    left: 617px;
}
/*FIN DE LA PARTIE CONCERNANT LA BANNIÈRE D'EN-TÊTE*/
/*DEBUT DE LA PARTIE CONCERNANT LA BARRE DE NAVIGATION*/
.nav{
    position: absolute;
    top: 205px;
    left: 38px;
}

.nav > ul > li > a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    list-style: none;
    margin-top: 13px;
    text-align: center;
    height: 44px;
    width: 169px;
    color: white;
}

li.bacc, li.bwin, li.bmac, li.blin, li.bfor, li.bcon  {
    display: inline-block;
    float: left;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(64, 96, 148);
    height: 44px;
    width: 169px;
}

/*Hover du bouton accueil*/
.bacc:hover a{
    top: 800px;
}
.bacc:hover {
    background-image: url("http://jorelamthor.neocities.org/TP/image/logoaccueilhover.PNG");
    background-color: white;
}

/*Hover du bouton win*/
.bwin:hover a{
    top: 800px;
}
.bwin:hover {
    background-image: url("http://jorelamthor.neocities.org/TP/image/logowindowshover.PNG");
    background-color: white;
}

/*Hover du bouton mac*/
.bmac:hover a{
    top: 800px;
}
.bmac:hover{
    background-image: url("http://jorelamthor.neocities.org/TP/image/logomachover.png");
    background-color: white;
}

/*Hover du bouton linux*/

.blin:hover a{
    top: 800px;
}
.blin:hover{
    background-image: url("http://jorelamthor.neocities.org/TP/image/logolinuxhover.PNG");
    background-color: white;
}
/*Hover du bouton formulaire*/
.bfor:hover a{
    top: 800px;
}
.bfor:hover{
    background-image: url("http://jorelamthor.neocities.org/TP/image/logoformulairehover.png");
    background-color: white;
}

/*Hover du bouton contact*/
.bcon:hover a{
    top: 800px;
}
.bcon:hover{
    background-image: url("http://jorelamthor.neocities.org/TP/image/logocontacthover.png");
    background-color: white;
}

/*FIN DE LA PARTIE CONCERNANT LA BARRE DE NAVIGATION*/

/*FIN DU CODE NÉCÉSSAIRE A CHAQUE PAGE PARTIE 1/2*/

/*DÉBUT DE LA PARTIE CONCERNANT LE CONTENU DU SITE*/
.contenu {
    position: relative;
    display: inline-block;
    background-color: rgb(81, 160, 229)
}

.windows {
    position: absolute;
    display: block;
    width: 900px;
    height: 220px;
    top: 20px;
}

.imgwindows{
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 220px;
    background-color: rgb(64, 96, 149);
}

.pwin{
    position:absolute;
    display: inline-block;
    width:670px;
    height: 220px;
    left:250px;
    background-color: rgb(64, 96, 149);
}

.pwin > ul, .pmac > ul, .plinux > ul {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 150%;
    font-weight: bold;
    color:white;
}

.pwin > ul > li, .pmac > ul > li, .plinux > ul > li {
    font-size: 70%;
    margin-left: 20px;
    list-style:circle;
    color:white;
}

.pwin > p, .pmac > p, .plinux > p {
    font-size: 100%;
    margin-left: 5px;
    color:white;
}

.pwin > a, .pmac > a, .plinux > a {
    text-decoration: none;
    position: absolute;
    left: 385px;
    bottom: 10px;
}

.txtmac {
    position: absolute;
    display: block;
    width: 900px;
    height: 220px;
    top: 30px;
}

.imgmac{
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 220px;
}

.pmac{
    position:absolute;
    display: inline-block;
    width:670px;
    height:220px;
    left:250px;
}

.txtlinux {
    position: absolute;
    display: block;
    width: 900px;
    height: 220px;
    top: 40px;
}

.imglinux{
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 220px;
}

.plinux{
    display: inline-block;
    width:670px;
    height: 220px;
    left:250px;
    background-color: rgb(64, 96, 149);
}
/*DÉBUT DE LA PARTIE CONCERNAT LE CODE DE formulaireacc.html*/

form{
    position: relative;
    height: 500px;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 38px;
    margin-right: 37px;
    margin-top: -11px;
    background-color: #ECEEF2;
}
#formstreetnumber{
    width: 30px;
}
#formzipcode{
    width: 50px;
}
#labelformmail{
    margin-top: 10px;
}
#formpassword{
    display: block;
}
#formconditions{
    display: inline;
    float: left;
    margin-top: 10px;
}
#labelformconditions{
    position: absolute;
    display: inline;
    width: 400px;
    margin-left: 10px;
    bottom: 128px;
}
#formsubmit{
    position: absolute;
    bottom: 85px;
}
.formin > label{
    float: left;
    clear: both;
    width: 100px;
}
.formin > input[type="radio"]{
    display: block;
}

.formin > input[type="text"]{
    display: block;
    background-color: rgba(81, 160, 229, 0.50);
}
input, select{
    margin-bottom: 10px;
}

/*FIN DE LA PARTIE CONCERNAT LE CODE DE formulaireacc.html*/

/*FIN DE LA PARTIE CONCERNANT LE CONTENU DU SITE*/

/*DÉBUT DU CODE NÉCÉSSAIRE A CHAQUE PAGE PARTIE 2/2 */

/*DÉBUT DE LA PARTIE CONCERNANT LE PIED DE PAGE */
.piedpage {
    position: relative;
    background-color: #5e72c0;
    width: 920px;
    bottom: 0;
}

.navibarre a {
    position: relative;
    color:white;
    text-decoration: none;
    top: 15px;
}

ul.navibarre{
    position: relative;
    border-top: solid black 1px;
}

.navibarre li{
    display:inline-block;
    background-color: #5e72c0;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 227px;
    height: 50px;
}

.navibarre li:hover{
    display: inline-block;
    background-color: white;
}

.navibarre li:hover a{
    color: #5e72c0;
}
/*FIN DE LA PARTIE CONCERNANT LE PIED DE PAGE */

/*FIN DU CODE NÉCÉSSAIRE A CHAQUE PAGE PARTIE 2/2*/